*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.books{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.book{
  border: 1px solid;
  padding: 10px;
  max-height: 300px;
}

.book > .book__link{
  text-align: center;
  margin: 5px auto;
}

.book__description{
  align-items: center;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.book__description > img{
  height: 150px;
}

.book__description > .description{
  overflow: auto;
  max-height: 150px;
  width: 350px;
}

.book__info{
  border-bottom: 1px dotted darkgray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form__container{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 300px;
}

.form__container > input{
  outline: 0;
}

header{
  background-image: url('./header-pic.jpg');
  background-size: cover;
  height: 30vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header * {
  z-index: 1;
}

header::before{
    background: rgba(0,0,0,0.6);
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}