*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

header{
  background-image: url('./header-pic.jpg');
  background-size: cover;
  height: 30vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header * {
  z-index: 1;
}

header::before{
    background: rgba(0,0,0,0.6);
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}