*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.books{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.book{
  border: 1px solid;
  padding: 10px;
  max-height: 300px;
}

.book__description{
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
}

.book__info{
  border-bottom: 1px dotted darkgray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}