.book{
    border: 1px solid lightgray;
    padding: 10px;
    max-height: 300px;
  }
  
  .book > .book__link{
    text-align: center;
    margin: 5px auto;
  }
  
  .book__description{
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  
  .book__description > img{
    height: 150px;
  }
  
  .book__description > .description{
    overflow: auto;
    max-height: 150px;
    width: 350px;
  }
  
  .book__info{
    border-bottom: 1px dotted darkgray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }